/* Bootstrap Helper Classes */
.icon-move {position:relative; top:4px;}
.bg-info {background-color: #37b0e9;}
.bg-light {background-color: #eee}
.font-normal{font-weight: normal;}
.font-thin{font-weight: 200;}
.font-semibold{font-weight: 500;}
.font-bold{font-weight: 700;}
.font-light {color: rgba(84, 102, 121, 0.7);}
.no-border, .no-borders{border-color: transparent; border-width: 0;}
.no-radius{border-radius: 0;}
.block{display: block;}
.block.hide{display: none;}
.inline{display:inline-block !important;}
.none{display: none;}
.pull-none{float: none;}
.rounded{border-radius: 500px;}
.clear{display:block;overflow: hidden;}
.no-bg{background-color: transparent; color: inherit;}
.text-u-c{text-transform: uppercase;}
.text-l-t{text-decoration: line-through;}
.text-u-l{text-decoration: underline;}
.wrapper-xs{padding: 5px;}
.wrapper-sm{padding: 10px;}
.wrapper{padding: 15px;}
.wrapper-md{padding: 20px;}
.wrapper-lg{padding: 30px;}
.wrapper-xl{padding: 50px;}
.padder-lg{padding-left:30px;padding-right: 30px;}
.padder-md{padding-left:20px;padding-right: 20px;}
.padder{padding-left:15px;padding-right: 15px;}
.padder-v{padding-top:15px;padding-bottom: 15px;}
.no-padder{padding: 0 !important;}
.pull-in{margin-left: -15px;margin-right: -15px;}
.pull-out{margin:-10px -15px;}
.b{border: 1px solid #dee5e7;}
.b-t{border-top: 1px solid #dee5e7;}
.b-r{border-right: 1px solid #dee5e7;}
.b-b{border-bottom: 1px solid #dee5e7;}
.b-l{border-left: 1px solid #dee5e7;}
.m-xs{margin: 5px;}
.m-sm{margin: 10px;}
.m{margin: 15px;}
.m-md{margin: 20px;}
.m-lg{margin: 30px;}
.m-xl{margin: 50px;}
.m-n{margin: 0 !important;}
.m-l-none{margin-left: 0}
.m-l-xs{margin-left: 5px;}
.m-l-sm{margin-left: 10px;}
.m-l{margin-left: 15px;}
.m-l-md{margin-left: 20px;}
.m-l-lg{margin-left: 30px;}
.m-l-xl{margin-left: 40px;}
.m-l-xxl{margin-left: 50px;}
.m-l-n-xxs{margin-left: -1px;}
.m-l-n-xs{margin-left: -5px;}
.m-l-n-sm{margin-left: -10px;}
.m-l-n{margin-left: -15px;}
.m-l-n-md{margin-left: -20px;}
.m-l-n-lg{margin-left: -30px;}
.m-l-n-xl{margin-left: -40px;}
.m-l-n-xxl{margin-left: -50px;}
.m-t-none{margin-top: 0;}
.m-t-xxs{margin-top: 1px;}
.m-t-xs{margin-top: 5px;}
.m-t-sm{margin-top: 10px;}
.m-t{margin-top: 15px;}
.m-t-md{margin-top: 20px;}
.m-t-lg{margin-top: 30px;}
.m-t-xl{margin-top: 40px;}
.m-t-xxl{margin-top: 50px;}
.m-t-n-xxs{margin-top: -1px;}
.m-t-n-xs{margin-top: -5px;}
.m-t-n-sm{margin-top: -10px;}
.m-t-n{margin-top: -15px;}
.m-t-n-md{margin-top: -20px;}
.m-t-n-lg{margin-top: -30px;}
.m-t-n-xl{margin-top: -40px;}
.m-t-n-xxl{margin-top: -50px;}
.m-r-none{margin-right: 0;}
.m-r-xxs{margin-right: 1px;}
.m-r-xs{margin-right: 5px;}
.m-r-sm{margin-right: 10px;}
.m-r{margin-right: 15px;}
.m-r-md{margin-right: 20px;}
.m-r-lg{margin-right: 30px;}
.m-r-xl{margin-right: 40px;}
.m-r-xxl{margin-right: 50px;}
.m-r-n-xxs{margin-right: -1px;}
.m-r-n-xs{margin-right: -5px;}
.m-r-n-sm{margin-right: -10px;}
.m-r-n{margin-right: -15px;}
.m-r-n-md{margin-right: -20px;}
.m-r-n-lg{margin-right: -30px;}
.m-r-n-xl{margin-right: -40px;}
.m-r-n-xxl{margin-right: -50px;}
.m-b-none{margin-bottom: 0;}
.m-b-xxs{margin-bottom: 1px;}
.m-b-xs{margin-bottom: 5px;}
.m-b-sm{margin-bottom: 10px;}
.m-b{margin-bottom: 15px;}
.m-b-md{margin-bottom: 20px;}
.m-b-lg{margin-bottom: 30px;}
.m-b-xl{margin-bottom: 40px;}
.m-b-xxl{margin-bottom: 50px;}
.m-b-n-xxs{margin-bottom: -1px;}
.m-b-n-xs{margin-bottom: -5px;}
.m-b-n-sm{margin-bottom: -10px;}
.m-b-n{margin-bottom: -15px;}
.m-b-n-md{margin-bottom: -20px;}
.m-b-n-lg{margin-bottom: -30px;}
.m-b-n-xl{margin-bottom: -40px;}
.m-b-n-xxl{margin-bottom: -50px;}
.text-4x{font-size: 4em;}
.text-3x{font-size: 3em;}
.text-2x{font-size: 2em;}
.text-lg{font-size: 20px;}
.text-md{font-size: 16px;}
.text-base{font-size: 14px;}
.text-sm{font-size: 13px;}
.text-xs{font-size: 12px;}
.text-white {color: #fff !important;}

/* Custom CSS */
body {
    margin: 0;
    padding: 0;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #fff;
    margin-top: 50px;
    background-image: url(./images/wallpaper1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        background-size: 200vh;
    }
}

a {
    color: grey;
}

.btn-primary {
    background-color: #006DCB;
}

.btn:hover {
    border-color: #4273AC !important;
    color: #006DCB !important;
    background-color: white !important;
}

.btn:focus {
    background-color: white !important;
    border-color: #ccc !important;
    color: black !important;
}

.btn:active {
    background-color: ghostwhite !important;
    color: #006DCB !important;
    border-color: #4273AC !important;
}

.top_nav {
    height: 50px;
    background-color: #12616E;
    border-radius: 0;
    margin: 0;
}

.top_nav_2 {
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 0;
    margin: 0 0 0 0;
    border-bottom: solid #12616E 2px
}

.top_nav .fa {
    color: white;
}

.logo_img {
    height: 48px;
    width: 48px;
    margin: 0;
}

.logo_img_full {
    height: 30px;
    width: 30px;
    margin-right: 3px;
}

.container {
    background-color: white;
    padding: 0;
}

.jumbotron {
    background-color: white;
    margin: 0;
    min-height: 500px;
    border: 1px solid #d3d3d3;
}

.bg-white {
    background-color: white;
}

ftd, th {
    border: 1px solid lightgrey;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 5px;
}

table {
    margin: 0 !important;
}

tr:hover, tr:active {
    /*color: #006DCB;*/
    background-color: ghostwhite;
}

/* This is not working for some reason */
tr:focus {
    border-left-color: green !important;
    color: green;
}

.checkbox {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.panel {
    margin: 0;
    border-radius: 0;
}

.panel-heading {
    padding: 0;
}

.panel-body {
    padding: 0;
}

.panel-footer {
    padding: 5px;
}

.panel-heading {
    border-radius: 0 !important;
}

.panel-default {
    border-color: #d3d3d3 !important;
}

.btn {
    border-radius: 0;
}

.btn:hover {
    color: #12616E;
    border-color: #12616E;
    background-color: white;
}

.heading_btn {
    margin: 5px;
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-grey {
    color: grey;
}

.main_title {
    padding-right: 15px;
    padding-top: 10px;
}

.heading_title {
    padding-top: 3px;
}

.footer_text {
    padding-top: 3px;
}

.fa_gradient:before, .glyphicon_gradient:before {
    background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#4c4c4c));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

​ .flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.wrapper {
    padding: 10px;
}

.wrapper-xl {
    padding: 20px;
}

.dash_icon {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.drop_shadow {
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
}

.dashboard_position {
    margin-top: 35vh;
}

.load_spinner {
    height: 50px;
    width: 50px;
}

#loadspinner_container {
    border-radius: 15px;
}

.ryandev_logo {
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .9;
}

.rd_brand {
    margin-right: -3rem;
}

.m_t_100 {
    margin-top: 100px;
}

.bg-black {
    background-color: black;
    color: white;
}

.btn-round {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
}

.ryandev_footer_bar {
    height: 27px;
    background-color: transparent;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.font-20 {
    font-size: 20px;
}

.border-bottom-brand {
    border-bottom: 2px solid #12616E !important;
}

.bg-brand {
    background-color: #12616E !important;
    color: white !important;
    border-color:  #12616E !important;
}

.b {
    border: none;
}

.label {
    color: black;
}

.download-button {
    margin-top: 3px;
    border-radius: 50%;
    padding: 4px 8px;
}

.solid_panel {
    border-bottom: solid 4px #12616E !important;
    background-color: white !important; color: black !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.editor-button {
    margin-top: -3px;
}

.logo_on_login_page {
    width: 100px;
}

.bg-grey {
    background-color: #eee;
}

.circle {
    border-radius: 50%;
}

.text-primary {
    color: #12616E;
}

.width_100 {
    width: 100px;
}

.bg-ghostwhite {
    background-color: ghostwhite;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #555 !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #555 !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #555 !important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #555 !important;
}